@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Satisfy);


/* General */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  line-height: 1.42857143;
  color: #333;
  /* background-color: #000000; */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.width100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 0.85rem;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

/* General end*/


/* Demo */
.hd1 {
  margin-top: 15vh;
  font-size: 50px;
  font-weight: 100;
}

.powered {
  font-size: 17px;
  margin-top: 20px;
}

.powered img {
  width: 110px;
  position: relative;
  top: 8px;
}

.footer {
  margin-top: 50px;
  position: absolute;
  bottom: 40px;
  width: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.foo-txt {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Satisfy', cursive;
  text-shadow: none;
  color: #272727;
}

.fa-heart {
  color: #fb2323;
}

.fa-close {
  height: 22px;
  width: 22px;
}

/* Demo end */

.boot {
  /* position: absolute; */
  z-index: 10000 !important;
}

.sendButton {
  background-color: #1592ea !important;
  /* position: relative; */
  /* display: inline-flex; */
  /* bottom: 4em; */
  /* left: 25.25em; */
  border: none;
  cursor: pointer;
  border-radius: 50%;
  /* width: 4rem; */
  margin: 0.5rem;
  border-top:1px solid #dcdcdc;
}

.img-conf{
  width: 1.8rem;
  height: auto;
  margin: 0 0.3rem;
}

.img-conf-logo{
  width: auto;
  height: auto;
  max-width: 2.4rem;
  max-height: 2.3rem;
  margin: 0 0.3rem;
  vertical-align: middle;
  margin: 0
}

.developed-text{
  text-align: center;
  font-size: 0.7rem;
  color: #aaa;
}

/* MyBot */
mybot.center .chatCont,
mybot.center .profile_div {
  left: 0;
  right: 0;
  margin: 0 auto;
}

mybot.left .chatCont,
mybot.left .profile_div {
  left: 0;
}

mybot .chatCont {
  position: fixed;
  width: 320px;
  height: 70% !important;
  /* border: 1px solid #dcdcdc; */
  bottom: 0;
  right: 0;
  /* background: #efe7dd url("http://madketing.com.ar/chat/assets/img/bg.jpg"); */
  border-top-left-radius: 3px;
  background-color: #EBEBEB;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  /* display:none; */
}

mybot .close {
  position: absolute;
  right: 5px;
  margin-top: -40px;
  margin-right: 9px;
  color: #000000;
  font-size: 26px;
  cursor: pointer;
}

mybot .bot_profile {
  position: absolute;
  right: 0;
  margin-top: -45px;
  text-align: center;
  width: 400px;
  display: none;
  z-index: 1000;
}

mybot .bot_p_img {
  width: 80px;
  width: 80px;
  align-items: center;
}

mybot .chatForm {
  display: flex !important;
  border-top: 1px solid #dcdcdc;
  background-color: white;
  flex-shrink: 0;
  /* position: absolute; */
  /* height: 15%; */
  /* bottom: -65px; */
	/* right: 0; */
	/* margin-bottom: 0;
	width: 320px; */
  /* display: none; */
}

mybot .bot-txt,
mybot .bot-txt:focus {
  box-shadow: none;
  border-radius: 0;
  height: 66px;
  border: 0;
  border-left: 1px solid #dcdcdc;
}

mybot .resultDiv .botResult {
  /* background: #FF995F; */
  background-image: linear-gradient(to right,#ff8328, #ea5400 );
  color: #ffffff;
  border-radius: 30px;
  padding: 12px;
  font-size: 0.85rem;
  font-weight: 400;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-left-radius: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}

/* mybot .resultDiv .botResult:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #fff;
  left: -15px;
  margin-top: -12px;
} */

mybot .resultDiv .scope-user {
  text-align: right;
}

mybot .resultDiv .userEnteredText {
  background: #fff;
  color: #000;
  border-radius: 30px;
  padding: 12px;
  font-size: 0.85rem;
  font-weight: 400;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-right-radius: 0;
  position: relative;
  left: -6px;
  margin-bottom: 10px;
  margin-top: 5px;
  word-wrap: break-word;
  display: inline-block;
  max-width: 100%;
}

/* mybot .resultDiv .userEnteredText:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #FF995F;
  position: absolute;
  right: -15px;
  margin-top: -12px;
} */

mybot .pop-up-container {
  display: none;
  border: none;
  bottom: 85px;
  right: 0;
  width: 100%;
  max-width: 240px;
  height: 190px;
  box-sizing: border-box;
  padding: 7px 0 10px 5px;
  animation: fadein .3s;
  position: fixed;
}

mybot .pop-up-cuerpo{
  background-image: linear-gradient(to right,#ff8328, #ea5400 );
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0 rgba(0,0,0,.3);
  color: #fff;
  margin-bottom: 10px;
  margin-right: 11px;
  overflow: hidden;
  padding: 12px;
  white-space: nowrap;
}

mybot .pop-up-content{
  display: inline-block;
  padding-left: 4px;
  vertical-align: middle;
  white-space: normal;
}

mybot .pop-up-content-title{
  cursor: pointer !important;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  padding: 3px 0 7px;
  text-align: left;
  /* white-space: pre-line; */
  max-width: 84%;
}

mybot .pop-up-text-container{
  cursor: pointer !important;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
}

mybot .pop-up-text-closer{
  cursor: pointer;
  font-weight: 700;
  position: absolute;
  right: 24px;
  text-align: center;
  top: 16px;

}

mybot .fake-input-container{
  text-align: right;
  padding-right: 10px;
  position: relative;
  display: flex !important;
  flex-shrink: 0;
}

mybot .popup-fake-input{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0 rgba(0,0,0,.3);
  font-size: 14px;
  margin-bottom: 7px;
  height: 46px;
  padding: 14px 18px;
  pointer-events: none;
  width: 100%;
  border: none;
  -webkit-appearance: none;
}

::placeholder{
  color: #c7c7cd;
}

mybot .profile_div {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 94px;
  cursor: pointer;
  height: 86px;
}


mybot .img-profile {
  width: auto;
  height: auto;
  max-width: 58px;
  max-height: 58px;
  margin: auto;
}

mybot .col-hgt {
  height: auto;
  width: auto;
  min-height: 73px;
  min-width: 73px;
  display: flex;
  align-items: center;
  float: left;
  background-color: #FF995F;
  border-radius: 46px;
}

mybot .chat-txt {
  background-color: white;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  padding: 15px 15px;
  border-radius: 50px;
}

/* Spinner start */
@keyframes wave {
  0% {
    transform: initial;
  }
  60% {
    transform: initial;
  } 
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-15px);
  }
}

mybot .spinner {
  background-image: linear-gradient(to right,#ff8328, #ea5400 );
  width: 70px;
  height: 35px;
  text-align: center;
  display: none;
  border-radius: 30px;
  position: relative;
  top: -7px;
  left: 19px;
  padding: 7px 10px;
  border-top-left-radius: 0;
}

mybot .spinner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #ff8328;
  left: -15px;
  margin-top: -7px;
}

mybot .spinner > div {
  width: 0.45rem;
  height: 0.45rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0.80rem;
}

mybot .bounce1 {
  margin-right:3px;
  background:#303131;
  /* animation: wave 0.5s linear infinite; */
  animation: wave 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}

mybot .bounce2 {
  margin-right:3px;
  background:#303131;
  /* animation: wave 0.5s linear infinite; */
  animation: wave 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
  animation-delay: 0.1s;
}

mybot .bounce3 {
  margin-right:3px;
  background:#303131;
  /* animation: wave 0.5s linear infinite; */
  animation: wave 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
  animation-delay: 0.2s;
}

/* Spinner End */

.resultDiv {
  padding: 35px 20px 30px 20px;
  overflow-y: auto;
  flex-grow: 1;
  /* border-top: 4px solid #878787; */
  /* box-shadow: 2px 2px 20px 4px; */
}

#header {
  background-color: #FF995F;
  /* background-image: linear-gradient(to right,#ff8328, #ea5400 ); */
  color: #fff;
  flex-shrink: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#header p {
  margin: 0 1rem;
}

#headerName {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 0.4rem;
  padding-bottom: 0;
}

#headerStatus {
font-size: 0.85rem;
padding-top:0;
padding-bottom: 0.4rem;
}

#closeChat {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  /* mybot .resultDiv .userEnteredText,
  mybot .resultDiv .botResult,
  mybot .suggestion {
    width: 90%;
    margin-bottom: 20px;
  } */
  mybot .chatCont,
  mybot .chatForm {
    width: 100%;
  }
  mybot .chatCont {
    height: 100% !important;
  }
}
/* MyBot end */

i {
  color: black;
}
